.top{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.topStories {
    font-family: Georgia;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    margin-top: 44px;
    margin-bottom: 30px;
    margin-right: 579px
}
.topStoriesCombined{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}
.rowTwo{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 30px;
}

.rowThree{
    margin-right: 165px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.twoNthree{
    display: flex;
    flex-direction: row;
}

.mediumCardContainer {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

@media (max-width: 480px) {
    .topStoriesCombined {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .twoNthree{
        display: flex;
        flex-direction: row;
    }
    .rowTwo, .rowThree{
        flex-direction: column;
        margin: 3px;
    }
    .mediumCardContainer{
        display: flex;
        flex-wrap: wrap; 
        justify-content: left;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
    }
    .mediumCardList{
        box-sizing: border-box; 
        display: inline-block;
        margin-inline-end: 5px;
    }
}