.header {
    color: rgba(0, 0, 0, 0.87);
    font-family: Georgia;
    font-size: 3rem;
    line-height: 3.0625rem;
    font-style: normal;
    font-weight: 700;
    margin: 2.75rem 0 2.37rem 10.31rem;
}