.pending{
    margin: 14.63rem 42rem 88.31rem;
    animation: rotation infinite 3s linear;
}
.pendingIcon{
    width: 6rem;
    height: 6rem;
    animation: animName 2s linear infinite;
}
@keyframes rotation{
    from{
        transform:rotate(0deg);
    }

    to{
        transform:rotate(360deg);
    }
}


