.headerDropdown{
    background-color: #FFF;
}
.selected {
    width: 255px;
    height: 44px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    display: flex;
    justify-items: center;
    align-items: center;
    margin-top: 48px;
    z-index: 1;
}
.selected p{
    margin-left: 5px;
}
.arrow{
    margin-left: 129px;
}
.arrow.active svg{
    cursor: pointer;
}

.dropdownList {
    position: absolute;
    background-color: aqua;
    z-index: 2;
    margin-top: -1px;
    border-left: 1px solid rgba(0, 0, 0, 0.42);
    border-bottom: 1px solid rgba(0, 0, 0, 0.42);
    border-right: 1px solid rgba(0, 0, 0, 0.42);
}
.list{
    cursor: pointer;
}
.list p{
    line-height: 41px;
    background-color: #FFF;
    margin-top: 5px;
    margin-bottom: 11px;
    margin-left: 5px;
    width: 255px;
    height: 41px;
    margin-bottom: 11px;
}