:root {
    font-size: 16px; 
}

.backgroundTiny {
    background-color: #09357B;
    width: 255px;
    height: 138px;  
}

.titleTiny {
    padding: 10px;
    color: #FFF;
    font-family: Georgia;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px; 
    letter-spacing: 0.063px;
}

@media(max-width: 480px){
    .backgroundTiny{
        width: 150px;
        height: 80px; 
    }
    .titleTiny{
        font-size: 14px;
        margin: 5px;
    }
}